# PostgreSQL
DATABASE_URL=postgresql+asyncpg://alenapominova@localhost:5432/studylab

# Sessions
SESSION_EXPIRE_SECONDS=604800

# LLM
LLM_PROVIDER=openai
LLM_API_KEY=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
LLM_MODEL=gpt-4o-mini
LLM_MAX_TOKENS=1024
LLM_TEMPERATURE=0.3

# YaGPT only
YAGPT_FOLDER_ID=
